.mainBox {
	display: flex;
	flex-direction: row;
}

.notification {
	max-width: 60%;
}

.verification {
	max-width: 40%;
}

.topBar {
	display: flex;
	flex-direction: row;
	position: relative;
}

.iconN {
	font-size: 30px;
	padding: 10px;
}

.icons {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 300px;
}

.searchInput {
	margin-left: 13%;
}
.search-inner {
	display: flex;
}
.dropdown {
	border: 2px solid black;
	border-radius: 5px;
	cursor: pointer;
}
.dropdown:empty {
	border: none;
}

.box {
	margin: 3%;
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 400px;
	width: 400px;
}

.menuContainer {
	list-style-type: none;
	border: 1px solid LightGrey;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.textareaModal {
	height: 300px;
}

.dropdownMenuCategory {
	margin-left: 205%;
}

.radios {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.radioEl {
	margin-left: 10px;
}
